#include "mtk64.dtsi"
#include "mtk64_trackball.dtsi"

&default_transform {
    row-offset = <14>;
};

&trackball_listener {
    status = "okay";  
};
&xiao_serial { status = "disabled"; };

&i2c0 {
    scl-gpios = <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D10 P1.15
    sda-gpios = <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D9  P1.14
    status = "okay";
    ssd1306: oled@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        charge-pump-enable;
        flip-display;
        invert-display;
    };
};

